.preview-container {
  position: relative;
  width: 900px;
  height: 500px;
  background: #111;
  margin-top: 20px;
}

.large {
  width: 100%;
  height: 100%;
}

.large video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pip {
  position: absolute;
  width: 250px;
  height: 150px;
  bottom: 15px;
  right: 15px;
  border: 2px solid white;
  cursor: pointer;
}

.pip video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
